<div class="hero min-h-screen bg-base-200">
  <div class="hero-content flex-col lg:flex-row">
    <%= image_tag 'hiyari_top.jpg', class: "max-w-sm rounded-lg shadow-2xl" %>
    <div>
      <h1 class="text-5xl font-bold">ヒヤリハット体験をシェアしよう!</h1>
      <p class="py-6">仕事中に遭遇したヒヤッとした瞬間。ハットした気づきなどをみんなとシェアすることができるアプリです。</p>
      <button class="btn btn-neutral">シェアする</button>
    </div>
  </div>
</div>
