<div class="card w-96 bg-base-100 shadow-xl my-2 ">
  <div class="card-body">
    <h2 class="card-title"><%= user.name%></h2>        
    <div class="card-actions justify-end">        
      <button class="btn btn-accent">詳細</button>
    </div>
  </div>
</div>    
    
