<div class="flex flex-row flex-wrap justify-start">  
  <div class="card w-96 bg-base-100 shadow-xl my-2 ml-8">
    <div class="card-body">
      <h2 class="card-title"><%= post.title %></h2>
      <ul class="list-inline">
        <li class="list-inline-item">
          <%= post.user.name %>
        </li>
        <li class="list-inline-item">
          <%= l post.created_at, format: :long %>
        </li>
      </ul>
      <div class="card-actions justify-end">
        <button class="btn btn-accent"><%= link_to '詳細', post_path(post)%></button>
      </div>
    </div>
  </div>
</div