<div class="container flex items-center justify-center flex-1 h-full mx-auto">      
  <div class="w-full max-w-lg">
    <div class="leading-loose">
      <%= render 'form', {post: @post} %>
    </div>
  </div>
</div>
