@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

.btn-neutral {
  --tw-border-opacity: 1;
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: hsl(var(--n)/var(--tw-bg-opacity));
  border-color: hsl(var(--n)/var(--tw-border-opacity));
  color: #ffffff;
  outline-color: hsl(var(--n)/1);
}